body {
	padding-top: 120px;
}

.app-nav {
	min-height: 120px;
	border-bottom: 1px solid #dddddd;
}

.nav-tabs {
	border-bottom: none;
}

.nav-link {
	cursor: pointer;
}

.info-icon {
	cursor: pointer;
	font-size: 85%;
}

.info-icon:hover {
	text-decoration: none;
}

.auth-form {
	margin: 8px;
}

.auth-field {
	width: 150px !important;
	margin: 0 2px;
}

.control-label {
	margin: 0 2px;
}

.no-account {
	margin-top: 4px;
}

.reg-input-field {
	width: 100% !important;
}

.reg-label {
	margin-top: 5px;
}
